---
layout: base.njk
---
{% include "hero.njk" %}
<main class="page-content" id="main-content">
  {% include "intro.njk" %}
  {% include "research-areas.njk" %}
  {% include "organization.njk" %}
  {% include "team.njk" %}
  {% include "equipment.njk" %}
  {% include "projects.njk" %}
  {% include "publications.njk" %}
  {% include "research-gallery.njk" %}
  {% include "activity-gallery.njk" %}
</main>
